@import "tailwindcss";

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));

  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));

  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));

  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));

  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: 255 255 255;
  --foreground: 24 24 27; /* Zinc-900 */

  --card: 255 255 255;
  --card-foreground: 24 24 27;

  --popover: 255 255 255;
  --popover-foreground: 24 24 27;

  --primary: 24 24 27; /* Zinc-900 */
  --primary-foreground: 255 255 255;

  --secondary: 244 244 245; /* Zinc-100 */
  --secondary-foreground: 24 24 27;

  --muted: 244 244 245;
  --muted-foreground: 113 113 122; /* Zinc-500 */

  --accent: 244 244 245;
  --accent-foreground: 24 24 27;

  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;

  --border: 228 228 231; /* Zinc-200 */
  --input: 228 228 231;
  --ring: 24 24 27;

  --radius: 0.75rem;
}

.dark {
  --background: 9 9 11; /* Zinc-950 */
  --foreground: 250 250 250; /* Zinc-50 */

  --card: 9 9 11;
  --card-foreground: 250 250 250;

  --popover: 9 9 11;
  --popover-foreground: 250 250 250;

  --primary: 250 250 250;
  --primary-foreground: 24 24 27;

  --secondary: 39 39 42; /* Zinc-800 */
  --secondary-foreground: 250 250 250;

  --muted: 39 39 42;
  --muted-foreground: 161 161 170;

  --accent: 39 39 42;
  --accent-foreground: 250 250 250;

  --destructive: 127 29 29;
  --destructive-foreground: 250 250 250;

  --border: 39 39 42;
  --input: 39 39 42;
  --ring: 212 212 216;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
